html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
    background-image: url("../images/banner.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container {
    background-color: #ccc;
}

.paragraph {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding: 11px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #196723;
    color: #f5f5dc;
}

.paragraph--result {
    text-align: left;
}